div.partners
{
	clear: both;
	width: 100%;
	margin: 0px;
	border: 0px;
	height: 104px;
	margin-top: 50px;
}

div.partners div
{
	overflow: hidden;
	background-position: top;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.partners div.left
{
	float: left;
	width: 300px;
	height: 111px;
	background-image: url('../img/embrapa.png');
	margin-top: 17px;
}

div.partners div.right
{
	float: right;
	width: 300px;
	height: 145px;
	background-image: url('../img/rnp.png');
	margin-top: 0px;
}

.main-explain-area {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 15px inherit;
}

.get-started-wrap {
	text-align: center;
}
.get-started-btn {
	padding: 15px 30px;
	font-size: 26px;
	margin-top: 10px;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
	.mobile-hide{ display: none; }
}

.fa-android,.fa-angular,.fa-apple,.fa-code-branch,.fa-golang,.fa-java,.fa-js,.fa-microsoft,.fa-node-js,.fa-php,.fa-puzzle-piece,.fa-python,.fa-react,.fa-vuejs,.fa-wordpress {font-size:100px}

.cell {
	width: 136px;
	margin: 2px;
	padding: 5px 0px 5px 0px;
	border: 3px solid #eee;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	*display: inline;
	text-align: center;
	color: #666;
}

.subtile {
	margin-top: 10px;
	word-wrap: normal;
	white-space: nowrap;
	line-height: 14px;
	font-size: 12px;
	font-weight: bold;
	color: #666;
	font-family: 'Courier New', Courier, monospace;
	display: inline-block;
}

table {
	width: 100%;
}
